
html, body {
	background-color: #242629;
	background-size: 25px 25px;
	font-family: Verdana;
	font-size: 12px;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

div.toolbox {
	padding: 4px;
}

div.inspector {
	overflow-y: auto;

	div.component {
		margin: 4px;

		h3.component-header {
			background-color: #0C0D10;
			color: #DDD;
			font-size: 1.2rem;
			cursor: pointer;
			padding: 3px;
			margin: 0;
		}
		h3.component-header.collapsed >span.fa.caret::before {
			content: "\f0da";
		}
		h3.component-header:not(.collapsed) >span.fa.caret::before {
			content: "\f0d7";
		}
		div.component-body {
			background-color: #1A1B1E;
			color: #ccc;
			box-sizing: border-box;
			padding: 0;
		}
	}

	div.field {
		color: #ccc;
		display: flex;
		flex-direction: row;

		div.field-name {
			border-right: 2px solid #0C0D10;
			box-sizing: border-box;
			cursor: default;
			min-width: 25%;
			overflow: hidden;
			padding: 3px;
		}
		div.field-value {
			box-sizing: border-box;
			flex-grow: 1;
			padding: 2px;

			table {
				table-layout: fixed;
				width: 100%;

				td div {
					border-collapse: separate;
					border-spacing: 2px 0;
					display: table;
					width: 100%;
				}
			}
			span.axis {
				border-radius: 4px 0 0 4px;
				font-size: 1rem;
				cursor: default;
				display: table-cell;
				box-sizing: border-box;

				&.x {
					color: #Bf5345;
				}
				&.y {
					color: #47983F;
				}
				&.z {
					color: #4E78DB;
				}
			}
			input:not([type="checkbox"]), select {
				background-color: #333;
				border: 1px solid black;
				border-radius: 0 4px 4px 0;
				color: #CCC;
				font-size: 1rem;
				display: table-cell;
				width: 100%;
				height: 18px;
				padding: 0 2px;
			}
		}
	}
}

div.hierarchy {
	overflow-y: auto;
}

div.project {
	overflow-y: auto;
}

div.assets {
	overflow-y: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	a.asset {
		display: block;
		width: 6em;
		padding: 2px;
		margin: 3px;
		border-radius: 5px;

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
			text-decoration: none;
		}
		&:focus {
			background-color: rgba(255, 255, 255, 0.18);
		}
		span.icon {
			display: block;
			color: #9AA5B4;
			text-align: center;
			font-size: 5em;
		}
		span.label {
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin-top: 3px;
			color: #EEE;
			text-align: center;
			font-size: 1rem;
		}
	}
}

ul.lm_tabs {
	div {
		display: inline-block;
		button {
			background: none;
			border: none;
			padding-top: 2px;
		}
	}
}

div.lm_content {
	display: flex;
	flex-direction: column;
}

ul.dropdown-menu li {
	cursor: pointer;

	&.dropdown-submenu {
		position: relative;

		&::after {
			transform: rotate(-90deg);
		}
		&:hover >ul.dropdown-menu {
			display: block;
		}
		>ul.dropdown-menu {
			top: 0;
			left: 100%;
			margin-top: -6px;
		}
	}
}

button.btn {
	box-shadow: none !important;
}

.jstree {
	color: #EEE;
}
.jstree-rename-input {
	color: #000;
}
.jstree-anchor.jstree-hovered, .jstree-default.jstree-wholerow-hovered {
	background-color: #313443;
}
.jstree-anchor.jstree-clicked {
	background-color: #585C70;
}
